<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="XMLConfig" packages="com.gzhc365.component.utils.log">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %5p [%F:%L] : %m%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="DRF" fileName="${sys:logs.home}/log.out"
                     filePattern="${sys:logs.home}/log.out.%d{yyyy-MM-dd}">
            <PatternLayout>
                <Pattern>[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}][%C{1}:%L] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="${sys:logs.leve}" includeLocation="true">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DRF"/>
        </Root>
    </Loggers>

</Configuration>