<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bwjava.service.dao.write.BeautyModelPicWriterDao">

    <delete id="deleteByModelId" parameterType="java.lang.Long">
    delete from t_beauty_model_pic
    where model_id = #{modelId,jdbcType=BIGINT}
  </delete>

    <insert id="insertBatch" parameterType="ArrayList">
        insert into t_beauty_model_pic (id, model_id, pic_url, sort_no)
        <foreach collection="list" item="item" index="index" separator="union all">
            select
            #{item.id,jdbcType=BIGINT},
            #{item.modelId,jdbcType=BIGINT},
            #{item.picUrl,jdbcType=VARCHAR},
            #{item.sortNo,jdbcType=VARCHAR}
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="ArrayList">
        update t_beauty_model_pic set sort_no =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then #{item.sortNo}
        </foreach>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>