<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bwjava.service.dao.write.BeautyModelWriterDao">
    <insert id="insertBatch" parameterType="ArrayList">
        insert into t_beauty_model (id, entrance_url, thumb_pic)
        <foreach collection="list" item="item" index="index" separator="union all">
            select
            #{item.id,jdbcType=BIGINT},
            #{item.entranceUrl,jdbcType=VARCHAR},
            #{item.thumbPic,jdbcType=VARCHAR}
        </foreach>
    </insert>
</mapper>